version: '1.0.{build}'

before_build:
  - nuget restore

dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '{version}'
  package_version: '{version}'
  assembly_version: '{version}'
  file_version: '{version}'
  informational_version: '{version}'

configuration:
  - Debug
  - Release

build:
  project: Telepathy.sln
  verbosity: minimal

artifacts:
  - path: '**\*.nupkg'

  - path: Telepathy\bin\$(configuration)\
    name: Telepathy
    
cache:
  - '%USERPROFILE%\.nuget\packages -> **\*.csproj'

image: Visual Studio 2017

test_script:
  - '%USERPROFILE%\.nuget\packages\opencover\4.7.906-rc\tools\OpenCover.Console.exe -returntargetcode -register:user -target:"nunit3-console.exe" -targetargs:Telepathy.Tests\bin\%CONFIGURATION%\net471\Telepathy.Tests.dll -output:"coverage.xml" -filter:"+[Telepathy*]* -[Telepathy.Tests*]* "'

after_test:
  - ps: |
      Invoke-WebRequest -Uri 'https://codecov.io/bash' -OutFile codecov.sh
      bash codecov.sh -f "coverage.xml" 

deploy:
  - provider: Environment
    name: nuget-telepathy
    on:
      branch: master
